[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.0"
django-crispy-forms = "==1.13.0"
crispy-bootstrap5 = "==0.6"
environs = {extras = ["django"], version = "==9.3.5"}

[dev-packages]

[requires]
python_version = "3.8"
